header{
    background-color: #131626;
    padding: 2rem;
    height: 20%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menuNav{
    display: none;
    border-bottom: solid 1px dimgrey;
}

.menuNav ul, .navFooter, ul{
    list-style: none;

}

.menuAccueil, .menuArticles{
    margin-right: 2rem;
    text-decoration: none ;
    font-weight: 200;
    border-right: double 5px darkgray;
}
.menuEquipe{
    padding-left: 15px;
    background-color: #131626;
    color: black;
    border: solid 1px blanchedalmond;
    border-radius: 45px 10px;
    margin-right: 1rem;
}
.menuEquipe:hover{
    text-decoration: underline white;
    font-size: 20px;
}
a{
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
}
.socialLink{
    display: flex;
    justify-content: flex-end;
}

.imgLogo{
    fill: white;
}

.hamburger-opened .menuNav{
    display: block;
}

.hamburger {
    cursor: pointer;
    height: 15px;
    margin: 0 20px 0 auto;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 22px;
}

.hamburger-span {
    background: #FFF;
    border-radius: 9px;
    cursor: pointer;
    display: block;
    height: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 100%;
    transition: .3s;
}

.hamburger-span:nth-child(2), .hamburger-span:nth-child(3) {
    top: 8px;
}

.hamburger-span:nth-child(4) {
    top: 16px;
}

.hamburger-opened .hamburger-span:first-child, .hamburger-opened .hamburger-span:last-child {
    opacity: 0;
}

.hamburger-opened .hamburger-span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger-opened .hamburger-span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
    header{
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
    }
    .header-container, section, .footer-container {
        max-width: 1150px;
        margin: 0 auto;
    }
    .header-container{
        justify-content: space-between;
        align-items: center;
    }
    .hamburger{
        display: none;
    }
    .menuNav{
        display: block;
    }
    .menuNav ul, .navFooter{
        display: flex;
        justify-content: space-between;
    }
    .menuAccueil, .menuArticles{
        margin-right: 2rem;
        text-decoration: none ;
        font-weight: 200;
        border-right: double 5px darkgray;
        
    }
}