*{
    box-sizing:border-box;
}
body{
    margin: 0;
    background-color: #1F1D2B;
    color: white;
}

/* HEADER STYLE */

.imgLogo{
    fill: #FFFFFF;
}

header{
    background-color: #131626;
    padding: 2rem;
}

.menuNav ul, .navFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.menuNav ul, .navFooter {
    list-style: none;
}
.menuNav ul > li > a {
    text-decoration: none;
    color: white;
}

/* SECTIONS */

section{
    padding: 2rem;
}

/* FOOTER STYLE */

footer {
    background-color: #131626;
    padding: 2rem;
}

@media screen and (min-width: 700px) {
    
}