*{
    box-sizing:border-box;
}
body{
    margin: 0;
    background-color: #1F1D2B;
    color: white;
}

/* HEADER STYLE */

.imgLogo{
    fill: #FFFFFF;
}

header{
    background-color: #131626;
}

.menuNav ul, .navFooter ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
   
}


.menuNav ul > li > a {
    text-decoration: none;
    color: white;
}

/* FOOTER STYLE */

footer {
    background-color: #131626;
}

@media screen and (min-width: 700px) {
    
}